<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>実験結果送信完了ページ</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="shortcut icon" href="">

    <![endif]-->
    <script src="{% static '/parisvsdfh/js/brython.js' %}"></script>
    <script src="{% static '/parisvsdfh/js/brython_stdlib.js' %}"></script>
</head>

<body onload="brython()">
    <script type="text/python">
from browser import document, html, window
from urllib import parse
document['complete_code'].value = parse.parse_qs(window.location.href.split("?")[-1])['id'][0]

    </script>
    <h1>ご協力ありがとうございました。</h1>
    <p>以下のコードをClowdworksの回答欄に入力して下さい</p>
    <p>※間違ったコードを入力、または入力が無い場合は報酬をお支払いできません</p><br> 
    <textarea id="complete_code" readonly></textarea>
    <p>表示に数秒かかる場合があります。</p>
    <p>長時間待っても現れない場合、URLの末尾にございます「id=」に続く</p>
    <b>数字列全て</b>
    <p>をコピーし回答にご利用ください。</p>
</body>

</html>