<!DOCTYPE html>

<head>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>実験ページ</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=divice-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static '/parisvsdfh/css/css.css' %}">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="">
    <script type="text/javascript" charset="UTF-8"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="/projectstatic/js/djangojax.js"></script>-->
    <script src="{% static '/parisvsdfh/js/brython.js' %}"></script>
    <script src="{% static '/parisvsdfh/js/brython_stdlib.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/brython_builtins.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py2js.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_object.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_type.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_utils.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_builtin_functions.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_exceptions.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_range_slice.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_bytes.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_set.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/js_objects.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_import.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/unicode.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_string.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_int.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_long_int.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_float.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_complex.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_dict.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_list.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_generator.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_dom.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/builtin_modules.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/py_import_hooks.js' %}"></script>
    <script type="text/javascript" src="{% static '/parisvsdfh/js/brython_dist.js' %}"></script>
</head>

<body onload="brython()">
    <!-- write code this section -->
    <script type="text/python" src="{% static '/parisvsdfh/python/examine.py' %}"></script>
    <div id="header_area">
        <div id="examine_header" class="title">認知に関するテスト</div>
        <div id="scenario_title" class="title"></div>
    </div>
    <div id="preload_image">
        <p>画像を読み込んでいます。</p>
        <p>しばらくお待ちください。</p>
    </div>
    <div id="description_area" class="area">
        <p id="scenario_description"></p><br>
        <button id="start_scenario_button" class="next_button">このシナリオを<br>開始する</button>
    </div>
    <br>
    <div id="show_sample_area" class="area" style="display:none">
        <div id="order"></div>
        <div id="show_area">
            <img id="sample_before" class="sample">
            <img id="sample_arrow" class="arrow" src="{% static '/parisvsdfh/image/yajirushi_kururi_right.png' %}">
            <img id="sample_after" class="sample">
        </div>
        <br>
        <div id="sample_description">
            <span id='first_sentence'></span>
            <span id='last_sentence'></span>
        </div><br>
        <button id="next_sample" class="next_button">次の事例へ</button>
    </div>
    <br>
    <div id="estimate_input_area" class="area" style="display:none">
        <div id="estimate_description"></div><br>
        <form oninput="estimate.value = Number(estimate_gage.value);">
            <!--{% csrf_token %}-->
            <b>
                <p><output id="estimate">0</output></p>
            </b>
            <P><input id="estimate_gage" type="range" min="-0" max="100" step="1" value="0"></P>

        </form>
        <div id="notes">
            <b>ボタンは1回押していただくだけで結構です。</b>
            <b>送信に時間がかかる場合がありますので、最低30秒お待ちください。</b>
        </div>
        <button id="estimate_next_scenario" class="next_button">次のシナリオへ進む</button>
    </div>
</body>

</html>