<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>実験に関するページ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static '/parisvsdfh/css/css.css' %}">
    <script src="{% static '/parisvsdfh/js/brython.js' %}"></script>
    <script type="text/python3">
        from browser import document
        def check_agreement(ev=None):
            checkbox = document['agreement']
            start_button = document['button']
            agreement_description = document['need_agree']
            scenario_description = document['when_agreeing']

            option = "all" if checkbox.checked else "none"
            start_button.style={"pointer-events":option}

            visible = {"all":"none", "none":"inline-grid"}
            alter = {"all":"none","none":"all"}
            agreement_description.style = {"display": visible[option]}
            scenario_description.style = {"display":visible[alter[option]]}

        document['agreement'].bind("click",check_agreement)



    </script>
</head>

<body onload="brython()">
<div id="examine_header">注意</div>
<div style="display:inline-grid;">
    <p>本実験で得られたデータは、統計データとして学術研究に使用させていただきます。</p>
    <p>実験にご協力いただける方は、下のボタンから実験ページに遷移し、実験を行ってください.</p>
    <p>送信が完了すると、8桁の数字列が表示されます。コピーしてクラウドワークスの該当欄に記入してください.</p>
    <p>実験の実施を確認次第確定処理をいたします。</p>
</div>
<br>
<div>以上に同意していただける場合は以下のチェックボックスをクリックしてください。</div>
<div id="need_agree" style="color:red; display:inline-grid;">
    <p>実験を行う場合は同意が必要です。</p>
    <p>同意する場合はこちらのチェックボックスを選択して下さい。</p>
    <p>ご同意頂けない場合はこのまま画面を閉じてください。</p>
    <p>その場合、報酬はお支払い致しませんのでご了承下さい。</p>
</div>
<br>
<input type="checkbox" id="agreement"/>同意します
<br>

<p><div id="when_agreeing" style="margin:auto; display:none;">
    <p>ありがとうございます。</p>
    <p>以下のストーリーをお読みいただき、実験ページに進んで下さい。</p>
    <div id="scenario_description" style="margin:auto;">
        <p>これから A から G までの7カ国についてある質問を繰り返します。</p>
        <p>よく文章を読んで質問に答えてください。</p>
        <p>「薬と治癒の因果関係」について質問しますので、直感で答えてください。</p>
    </div>
</div></p>

<br>
<form action="/examine/" style="text-align:center;, display:block;">
    <input type="submit" id='button' value="実験を開始する" style="pointer-events:none">
</form>


</body>
</html>