html,body{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0em;
}
body{
    display: inline-block;
}
p{
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    }
#examine_header{
    font-size:  5vh;
    margin 1em 0 2em 0;
    font-weight: bold;
}
#scenario_title{
    font-size: 5vh;
}
#order{
    font-size: 3vh;
}
.title{
    margin-top: 2px;
    margin-bottom: 2px;
}
#scenario_description{
    display:inline-block;
    width: 55%;
    padding: 8px 19px;
    margin: 1em 0 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
    font-size: 2.5vh;
}
#show_area{
    display: inline-block;
    align-items: center;
    width: 60vw;
    text-align: center;
    margin:auto;
}
#estimate_description{
    display:inline-grid;
}
.sample{
    display:inline-block;
    height: 30vh;
    width: auto;
    vertical-align: middle;
}
.arrow{
    display:inline-block;
    width:  auto;
    height: auto;
    max-width: 20%;
    max-height: auto;
    vertical-align: middle;
}
.area{
    width:  100%;
    height:  75%;
}
#estimate_input_area form{
    display:grid;
}
.sample,.arrow{
    margin: 0 auto;
}
.next_button{
/*    height: 10%; */
/*    margin-bottom: 1em; */
}
#sample_description{c
    height: 10%;
    font-size: 3vw;
}
#estimate_gage{
    width: 50%;
    height: 10%;
    margin: 1em;
}
button,input[type="submit"]{
    font-size: 2vw;
    width: 50%;
    border: solid 1px;
    padding: 0.5em;
}
#notes{

    display: none;
}
#notes>b{
    color: red;

}
@media (min-width: 300px) and (max-width: 800px) {
    button {
        font-size: 6vw;
        width: 80%;

      }
    input[type="submit"]{
        height: 10vh;
        width:  60vw;
        font-size:  7vw;
    }
    #examine_header{
    font-size: 10vw;
    }
    #scenario_title{
        font-size: 6vw;
    }
    #scenario_description{
        width: 70%;
        padding: 8px 19px;
        margin: 1em 0 2em 0;
        color: #2c2c2f;
        background: #cde4ff;
        border-top: solid 5px #5989cf;
        border-bottom: solid 5px #5989cf;
        display: inline-block;
        font-size: 5vw;
    }
    #sample_description{
            /*height: 10%;*/
            font-size: 5vw;
        }
    span{
        display : inline-block;
    }
    .sample{
        display:inline-block;
        height: 30vw;
        width:  auto;
        max-width: 30vw;
        max-height: 50vh;
        vertical-align: middle;
    }

    #show_area{
    display: flex;
    width : auto;
    height: auto;
    min-height: 30vh;
    }
}